h1{
    color: red;
    border-style: solid;

}
body{
    background-image: url(https://media.routard.com/image/10/5/new-york.1468105.c1000x300.jpg)
}
p{
    border-style: dashed;
    border-color: red;
    border-width: 5px
}
p{
    font-size: 50px;
}
p{
    color:white;
}
button:hover{
    background-color: red;
}
div{
    margin-top: 20px;
    margin-bottom:30px;
    margin-left: 25px;
    margin-right: 40px;
}
div{
    padding-left: 50px;
    padding-right: 50px;
    padding-bottom: 50px;
    padding-top: 50px;
}   